@import url('https://fonts.googleapis.com/css2?family=Acme&family=Averia+Libre:ital,wght@1,300&family=Bree+Serif&family=Caveat+Brush&family=Concert+One&family=Fresca&family=Handlee&family=Kalam:wght@400;700&family=Kaushan+Script&family=Noto+Serif+Telugu:wght@300&family=Oregano&display=swap');


*{
    margin: 0px;
    padding:0px;
    font-family: 'Acme', sans-serif;
    transition: all .2s linear;
}

html
{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body{
    background-color:rgb(255, 251, 233);
}

a { 
    text-decoration: none; 
}

#back{
   font-size:24px;
   margin-top: 120px;
   margin-left: 20px;
   padding: 10px;
}

#back:hover{
    color: rgb(228, 106, 35);
 }
 

.box{
    width: 100%;
    margin-top: 20px;
    overflow: auto;
    height: calc(110vh - 86px);
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
}

.box::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */

}

.title{
    position: relative;
    margin: 30px;
    font-size: 50px;
    text-align: center;
    padding-top: 20px;
    color: rgb(228, 106, 35);
    font-weight: bold;
    letter-spacing: 2px;
    background-color:   rgb(247, 233, 208);
    border-radius: 10px;
    font-family:"Kalam", Times, serif;
}

table{
    padding: 30px;
    padding-top: 20px;
    color: black;
    width: 100%;
    margin-top: 20px;
}

table thead th{
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    font-family:"Times New Roman", Times, serif;

}

table tbody td{
    font-family:"Times New Roman", Times, serif;
    font-weight: lighter;
    padding: 10px 0px;
    font-size: 25px;
}

table tbody td img{
    width: 180px;
    height: auto;
}

table tbody button{
    padding: 3px;
    border-radius: 10%;
    border-color: rgb(246, 201, 134);
    background-color:rgb(246, 201, 134);

}

table tbody button:hover{
    background-color:rgb(255, 179, 64);
}



/* Header Section */
header
{
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    padding: 5px 7%;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    background-color:wheat;
    box-shadow:0 2px 15px rgb(223, 207, 176);
}


header .navbar a
{
    color: black;
    border-radius: 5px;
    padding: 15px 24px;
    margin: 12px;
    font-size: 20px;
}

header .navbar a:hover
{
    background-color:rgb(231, 244, 245) ;
    border:1.5px solid white;
}

header .icons i,
header .icons a
{
    cursor: pointer;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 16px;
    margin-left: 8px;
    height: 40px;
    line-height: 40px;
    width: 40px;
    border-radius: 50%;
    background:wheat;
}

header .icons i:hover,
header .icons a:hover
{
    background-color:rgb(153, 170, 231) ;
    border:1.5px solid white;
    transform: rotate(360deg);
}

header .icons #menu-bars
{
    display: none;
}



/* Footer Section */
.footer .foot-container
{
    background-color: rgb(189, 119, 69);
    color: black;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}

.footer .foot-container .foot-column h3
{
    padding: 8px 0;
    font-size: 24px;
    color: black;
    margin-left: 8px;
    font-family: 'Acme', sans-serif;
}

.footer .foot-container .foot-column a
{
    display: block;
    padding: 8px 0;
    font-size: 16px;
    color: #140c0c;
    margin-left: 12px;
    font-family: 'Kalam', sans-serif;
}

.footer .foot-container .foot-column a:hover
{
    color: rgb(0, 174, 255);
    text-decoration: underline;
}

.footer .credit
{
    text-align: center;
    background-color:rgb(189, 119, 69);
    font-size: 11.9px;
    font-weight: bolder;
    color: black;
    padding-bottom: 20px;
    padding-top: 40px;
    
}




@media screen and  (max-width:920px)
{   
    header .icons #menu-bars
    {
        display: inline-block;
    }

    header .navbar
    {   
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background:rgb(248, 217, 159);
        border-top: 2px solid rgba(0, 0, 0, 0.2);
        padding: 8px;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navbar.active
    {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    header .navbar a
    {
        display: block;
        padding: 22px;
        margin: 16px;
        font-size: 32px;
        background:rgba(0, 102, 255, 0.2);
    }

    table thead th{
        font-size: 18px;
    }

    
    table tbody td{
        font-size: 12px;
    }


    table tbody td img{
        width:90px;
        height:70px;
    }

    table tbody button{
        padding: 2px;
        font-size: 12px;
    }

    .box{
        height: calc(100vh - 86px);
    }
}



@media screen and  (max-width:480px)
{   
    header .icons #menu-bars
    {
        display: inline-block;
    }

    header .navbar
    {   
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background:rgb(248, 217, 159);
        border-top: 2px solid rgba(0, 0, 0, 0.2);
        padding: 8px;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navbar.active
    {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    header .navbar a
    {
        display: block;
        padding: 22px;
        margin: 16px;
        font-size: 32px;
        background:rgba(0, 102, 255, 0.2);
    }

    table thead th{
        font-size: 18px;
    }

    
    table tbody td{
        font-size: 12px;
    }


    table tbody td img{
        width:90px;
        height:70px;
    }

    table tbody button{
        padding: 2px;
        font-size: 12px;
    }

    table thead tr th:nth-child(2){
        display: none;
    }

    table tbody tr td:nth-child(2){
        display: none;
    }

    .box{
        width: 100%;
        margin-top: 20px;
        overflow: auto;
        height: calc(60vh - 86px);
    }
}



@media screen and  (max-width:300px)
{   
    header .icons #menu-bars
    {
        display: inline-block;
    }

    header .navbar
    {   
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background:rgb(248, 217, 159);
        border-top: 2px solid rgba(0, 0, 0, 0.2);
        padding: 8px;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navbar.active
    {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    header .navbar a
    {
        display: block;
        padding: 22px;
        margin: 16px;
        font-size: 32px;
        background:rgba(0, 102, 255, 0.2);
    }

    #back{
        margin-left: 10px;
        font-size: 15px;
    }
    .title{
        margin: 10px;
        font-size: 20px;
    }

    table thead th{
        font-size: 15px;
    }

    
    table tbody td{
        font-size: 12px;
    }


    table tbody td img{
        width:90px;
        height:70px;
    }

    table tbody button{
        padding: 2px;
        font-size: 12px;
    }

    table thead tr th:nth-child(2){
        display: none;
    }

    table tbody tr td:nth-child(2){
        display: none;
    }

    .box{
        width: 100%;
        margin-top: 20px;
        overflow: auto;
        height: calc(90vh - 86px);
    }
   
}


