@import url('https://fonts.googleapis.com/css2?family=Acme&family=Averia+Libre:ital,wght@1,300&family=Bree+Serif&family=Caveat+Brush&family=Concert+One&family=Fresca&family=Handlee&family=Kalam:wght@400;700&family=Kaushan+Script&family=Noto+Serif+Telugu:wght@300&family=Oregano&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

header {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    padding: 5px 7%;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url('../img/background02.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
    padding: 0 15px;
}

h3 {
    font-size: 40px;
    text-transform: uppercase;
    position: relative;
    font-weight: 700;
    color: white;
    letter-spacing: 3px;
}

.container-left {
    flex-basis: 65%;
    padding: 40px auto;
}

.container {
    width: 700px;
    height: auto;
    background-color: #000300;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    opacity: 0.7;
}

.box {
    width: 580px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h3 {
    font-size: 35px;
    margin: 15px;
}

.name,
.email,
.message-box {
    width: 100%;
    position: left;
    margin-bottom: 15px;
}

.name input,
.email input,
.message-box textarea {
    width: 100%;
    align-items: center;
    padding: 20px 30px;
    border: none;
    outline: none;
    font-size: 18px;
    background-color: #eee;
    border-radius: 40px;
    resize: none;
}

.name input::placeholder,
.email input::placeholder .message-box textarea::placeholder {
    color: grey;
    font-weight: 500;
}

.name input::placeholder,
.email input::placeholder .message-box textarea::placeholder {
    color: grey;
    font-weight: 500;
}

.button {
    cursor: pointer;
    margin-bottom: 20px;
    width: 100%;
    padding: 15px;
    font-size: 20px;
    color: black;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    transition: color 0.2s linear;
}

.button:hover {
    color: #fff;
    background-color: #BB998C;
}

.wrapper .btn {
    position: relative;
    top: 10px;
    flex-direction: column;
    height: 60px;
    width: 60px;
    margin: 50 20px;
    background: white;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: all 0.3s ease-out;
    opacity: 0.9;
}

.wrapper .btn:hover {
    width: 200px;
}

.wrapper .btn .icon {
    display: inline-block;
    text-align: center;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    box-sizing: border-box;
    line-height: 60px;
    transition: all 0.3s ease-out;
}

.wrapper .btn:nth-child(1):hover .icon {
    background: #4267b2;
}

.wrapper .btn:nth-child(2):hover .icon {
    background: #1da1fe;
}

.wrapper .btn:nth-child(3):hover .icon {
    background: #0e76a8;
}

.wrapper .btn:nth-child(4):hover .icon {
    background: #c32aa3;
}

.wrapper .btn:nth-child(1) span {
    color: #4267b2;
}

.wrapper .btn:nth-child(2) span {
    color: #1da1fe;
}

.wrapper .btn:nth-child(3) span {
    color: #0e76a8;
}

.wrapper .btn:nth-child(4) span {
    color: #c32aa3;
}

.wrapper .btn .icon i {
    font-size: 25px;
    line-height: 60px;
    transition: all 0.3s ease-out;
    color: black;
}

.wrapper .btn:hover .icon i {
    color: #BB998C;
}

.wrapper .btn span {
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    margin-left: 13px;
    opacity: 0.5;
}


/* Footer Section */

.footer-right {
    flex-basis: 30%;
    justify-content: center;
    align-items: center;
}

.footer .foot-container {
    background-color: #090707;
    flex-direction: column;
    color: rgb(223, 243, 144);
    align-items: baseline;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    gap: 1.5rem;
    opacity: 0.85;
}

.footer .foot-container .foot-column h3 {
    padding: 50px 80;
    font-size: 38px;
    color: white;
    margin-left: 25px;
    font-family: 'Acme', sans-serif;
}

.footer .foot-container .foot-column a {
    display: flex;
    padding: 8px 0;
    font-size: 25px;
    color: white;
    margin-left: 25px;
    font-family: 'Kalam', sans-serif;
}

.footer .foot-container .foot-column p {
    display: flex;
    padding: 8px 0;
    font-size: 25px;
    color: rgb(199, 229, 247);
    margin-left: 15px;
    font-family: 'Kalam', sans-serif;
}

.footer .foot-container .foot-column a:hover {
    color: rgb(0, 174, 255);
    text-decoration: underline;
}

.footer .credit {
    text-align: center;
    background-color: black;
    font-size: 11.9px;
    font-weight: bolder;
    color: rgb(82, 183, 245);
    padding-bottom: 20px;
    padding-top: 40px;
    opacity: 0.8;

}


/*Media Query*/
@media screen and (max-width:1380px)
{
    .container.left {
        width: 800px;

    }

    .name,
    .email,
    .message-box {
        width: 70%;
    }

    .name input,
    .email input,
    .message-box textarea {
        padding: 20px 35px;
    }


    .wrapper .btn {
        top: 370px;
        display: inline-block;
        margin: 0 10px;
    }


    .footer .foot-container {
        grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
        gap: 2rem;
    }

}

@media screen and (min-width:786px) and (max-width:1180px)
{
    .container {
        width: 500px;
    }

    .name,
    .email,
    .message-box {
        width: 60%;
    }

    .name input,
    .email input,
    .message-box textarea {
        padding: 15px 30px;
    }

    .footer .foot-container {
        grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
        gap: 1.5rem;
    }

}


@media screen and (max-width:786px) {
    .container {
        width: 400px;
    }

    .name,
    .email,
    .message-box {
        width: 75%;
    }

    .name input,
    .email input,
    .message-box textarea {
        padding: 15px 30px;
    }

    .footer {
        display: none;
    }

    .wrapper .btn {
        position: relative;
        top: 10px;
        display: flex;
        margin: 10 5px;
        flex-direction: column;
        left: 250px;
    }
}