@import url('https://fonts.googleapis.com/css2?family=Acme&family=Averia+Libre:ital,wght@1,300&family=Bree+Serif&family=Caveat+Brush&family=Concert+One&family=Fresca&family=Handlee&family=Kalam:wght@400;700&family=Kaushan+Script&family=Noto+Serif+Telugu:wght@300&family=Oregano&display=swap');

*
{
    font-family: 'Acme', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none!important;
    outline: none;
    border: none;
    transition: all .2s linear;
}

html
{
    font-size: 80%;
    overflow-x: hidden;
    scroll-padding-top: 200px;
    scroll-behavior: smooth;
}



/* Header Section */
header
{
    position: fixed;
    display: flex;
    width: auto;
    top: 0;
    left: 0;
    right: 0;
    padding: 5px 7%;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    background-color:wheat;
    box-shadow:0 2px 15px rgb(223, 207, 176);
}


header #navbar a
{
    width: auto;
    color: black;
    border-radius: 5px;
    padding: 15px 24px;
    margin: 12px;
    font-size: 20px;
}

header #navbar a:hover
{
    background-color:rgb(231, 244, 245);
    border:1.5px solid white;
}

header .icons i,
header .icons a
{
    cursor: pointer;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 16px;
    margin-left: 8px;
    height: 40px;
    line-height: 40px;
    width: 40px;
    border-radius: 50%;
    background:rgb(255, 255, 255);
}

header .icons i:hover,
header .icons a:hover
{
    background-color:rgb(153, 170, 231) ;
    border:1.5px solid white;
    transform: rotate(360deg);
}

header .icons #menu-bars
{
    display: none;
}


/* body */

#card-header{
    background-color: rgb(189, 119, 69);
}

#card-header h4{
    font-weight: bolder;
}

#cart{
    background-color: beige;
}

.small-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    margin: 12px;
    background-color: beige;
}

#cart-table{
    width: 80%!important;
}

#empty-cart .empty-img{
    max-width: 500px;
}

.small-container #cart-table{
    font-size:larger;
    position:relative;
    padding: 10px;
    margin: auto;
    width: auto;
    min-width: 300px;
}

#cart-body .remove{
    border-radius: 10px;
    padding: 10px;
    font-weight: bolder;
    background-color: red;
    color: white;
    margin-left: 50px;
    font-size: medium;
}

#cart-body .remove:hover{
    border-color: red;
    border-width: thin;
    border-radius: 10px;
    padding: 10px;
    font-weight: bolder;
    background-color: white;
    color: red;
    margin-left: 50px;
    font-size: medium;
}

table img{
    width: 50%;
    height: 50%;
}

table input{
    width: 50px;
}

#personal-info{
    background-color: beige;
    font-size: large;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 10px;
}

#personal-info .form-control{
    width:300px ;
    height: 50px;
    margin: 10px;
    text-align: center;
}

#map { 
    border-style:groove;
    border-radius: 10px;
    border-width: 10px;
    margin: auto;
    width: 70%;
    height: 300px;
}

#location{
    text-align: center;
    gap: 32px;
    padding:20px ;
    background-color:rgb(240, 230, 210);
}


/* Footer Section */
.footer .foot-container
{
    background-color: rgb(189, 119, 69);
    color: black;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}

.footer .foot-container .foot-column h3
{
    padding: 8px 0;
    font-size: 30px;
    color: black;
    margin-left: 8px;
    font-family: 'Acme', sans-serif;
}

.footer .foot-container .foot-column a
{
    display: block;
    padding: 8px 0;
    font-size: 18px;
    color: #140c0c;
    margin-left: 12px;
    font-family: 'Kalam', sans-serif;
}

.footer .foot-container .foot-column a:hover
{
    color: rgb(0, 174, 255);
    text-decoration: underline;
}

.footer .credit
{
    text-align: center;
    background-color:rgb(189, 119, 69);
    font-size: 11.9px;
    font-weight: bolder;
    color: black;
    padding-bottom: 20px;
    padding-top: 40px;
    
}

/* Media Query */
@media screen and (max-width:1180px)
{
    html
    {
        font-size: 90%;
    }

    header
    {   
        width: 100%;
        padding: 10px 32px;
    }

    header #navbar a
    {
    color: white;
    border-radius: 5px;
    padding: 12px 15px;
    margin: 2px;
    font-size: 16px;
    }
}

@media screen and (min-width:761px) and (max-width:1023px)
{
    html
    {
        font-size: 90%;
    }

    header
    {
        padding: 16px 32px;
        width: 100vw;
    }

    header #navbar a
    {
    color: white;
    border-radius: 5px;
    padding: 12px 15px;
    margin: 2px;
    font-size: 16px;
    }

}

@media screen and (max-width:760px)
{
    header{
        width:100vw;
    }

    header .icons #menu-bars
    {
        display: inline-block;
    }

    header #navbar
    {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: rgb(248, 217, 159);
        border-top: 2px solid rgba(0, 0, 0, 0.2);
        padding: 16px;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header #navbar.active
    {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    header #navbar a
    {
        display: block;
        padding: 22px;
        margin: 16px;
        font-size: 32px;
        background:rgba(13, 0, 255, 0.2);
    }

}